html {
    height: 100%;
    background-color: #ffd768;
}

body {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

.Heading h1{
    text-align: center;
    font-size: 70px;
    color: black;
    margin-top: 150px;
}

input {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    padding: 8px 8px;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#newAccount {
    margin-top: 15px;
    text-align: center;
}

#newAccount:hover {
    background-color: #ff7300;
    color: white;
    transition-property: color;
    transition-duration: 0.1s;
}

#submitButton {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    padding: 15px 32px;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: white;
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

#bottom {
    text-align: center;
    width: 100%;
    margin-top: 200px;
}

textarea {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    border: none;
    border-radius: 5px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#userPassword {
    width: 600px;
    height: 20px;    
    margin-top: 10px;
    font-size: 20px;
}

#userEmail {
    width: 600px;
    height: 20px;    
    font-size: 20px;
    margin-top: -30px;
}

#userEmail::-webkit-input-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

#userEmail:-ms-input-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

#userEmail:-moz-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

#userEmail::-moz-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}