html {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #ffd768;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: black;
    margin-bottom: -10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
}

button {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 10px;
}

button:hover {
    background-color: #ff7300;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.idea-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.upvote {
    height: 28px;
    width: 50px;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */

}

.downvote {
    height: 28px;
    width: 50px;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  border-top-left-radius: 5px;
  /* border-top-right-radius: 5px; */
}

.active, .collapsible:hover {
  background-color: black;
  color: white;
}

.content {
  padding: 0 18px;
  /* margin-left: 10%;
  margin-right: 10%; */
  max-height: 0;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: max-height 0.2s ease-out;
  background-color: #434343;
  color: white;
}

.counter {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 18px;
}

.circle {
    background: #434343;
    width: 40px;
    height: 56px;
    margin-top: 30px;
    border-top-right-radius: 5px;
}

#navbar {
    text-align: center;
    margin-top: -50px;
}

li, ul, a {
    text-decoration: none;
    color: black;    
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
    padding: 15px;
}

a:hover {
    color: white;
}

#bottom {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 200px;
}