html {
    height: 100%;
    background-color: #ffd768;

}

body {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

.Heading h1{
    text-align: center;
    font-size: 70px;
    color: black;
    margin-top: 150px;
}

#submitButton {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    padding: 15px 32px;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: white;
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

textarea {
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    border: none;
    border-radius: 5px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#description {
    width: 600px;
    height: 40px;    
    margin-top: 10px;
    font-size: 15px;
}

#idea {
    width: 600px;
    height: 20px;    
    font-size: 20px;
    margin-top: -50px;
}

#navbar {
    text-align: center;
    margin-top: -50px;
}

li, ul, a {
    text-decoration: none;
    color: black;    
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
    padding: 15px;
}

a:hover {
    color: white;
}

#bottom {
    text-align: center;
    width: 100%;
    margin-top: 200px;
}

#idea::-webkit-input-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

#idea:-ms-input-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

#idea:-moz-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}

#idea::-moz-placeholder {
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
}